body {
    background-image:url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    color: aliceblue;
    font-size: 21 px;
    font-family: sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background: linear-gradient(to bottom, #72706f, #2b2828, #242323); */
  }
  
p {
    color: rgb(253, 251, 251);
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 20px;
    font-weight: normal;
    
    clear: both;
}


 

img {
    align-content: center;
    margin-bottom: 20px;
    float: left;
    margin-left: 20px;
}

h1 {
    font-size: 70px;
    color: azure;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    margin-bottom: 0px;
}



span {
    color: brown;
    font-size: 40px;
}

.highlight {
    background: yellow;
}

.accent-color {
    background: red;
}

.intro {
    font-size: 30px;
    color: darkkhaki;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif; 
}
/* This is the CSS box model */
/* margin: 
    border:
    padding*/
#box{
    background-image: url(../img/3.jpg);
    width: 3000px 2500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 100px;
    border: 5px solid red;
    padding: 50px 100px 300px 25px; /* top right bottom left */
    text-align: center;
    
}



.intro {
    background-color: darkgreen;
    padding: 50px;
}

#top-section p {
    color: rgb(238, 96, 96);

}

a {
    text-decoration: none;
}

a:link {
    color: rgb(120, 187, 247);
}

a:visited {
    color: pink;
}

a:hover {
    color: chocolate;
}

a:active {
    color: chartreuse;
}

a:focus {
    color:chocolate ;
}

ol {
    list-style-type: upper-roman;
    list-style-position: inside;
    
}

ul {
    list-style-type: square;
    
    padding: 50px;

}

ul li {
    margin-bottom: 15px;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7 {
    height: 100px;
    width: 100px;
    float: right;
  }
  

.box1 {
    width: 200px;
        height: 200px;
        background-color: rgb(40, 184, 231);
        padding: 20px;
        box-sizing: border-box;
        float: right;
        
}
.box2 {
    width: 200px;
        height: 200px;
        background-color: rgb(45, 7, 214);
        padding: 20px;
        box-sizing: border-box;
        float: right;
}
.box3 {
    width: 200px;
        height: 200px;
        background-color: rgb(238, 105, 238);
        padding: 20px;
        box-sizing: border-box;
        float: right;
        
}
.box4 {
    width: 200px;
        height: 200px;
        background-color: #DEB887; /* #RRGGBB */
        padding: 20px;
        box-sizing: border-box;
        float: right;
}
.box5 {
    width: 200px;
        height: 200px;
        background-color: rgba(255, 255, 255, .2);
        padding: 20px;
        box-sizing: border-box;
        float: right;
}
.box6 {
    width: 200px;
        height: 200px;
        background-color: rgba(255, 145, 0, .2);
        padding: 20px;
        box-sizing: border-box;
        float: right;
}
.box7 {
    width: 200px;
        height: 200px;
        background-color: rgba(163, 4, 255, .2);
        padding: 20px;
        box-sizing: border-box;
        float: right;
}

.container {
    background: rgb(255, 255, 255);
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    color: blue;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}

.container p {
    color: black;
    
    
}
.container h1 {
    color: black;
}