body {
    background-color: rgb(126, 203, 255);
    color: aliceblue;
    font-size: 21 px;
    font-family: sans-serif;
    text-align: justify;
    /*background: linear-gradient(to bottom, #72706f, #2b2828, #242323); */
  }
  
p {
    color: rgb(253, 251, 251);
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 20px;
    font-weight: normal;
    
}

img {
    align-content: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 70px;
    color: azure;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    margin-bottom: 0px;
}

div {
    background-color: rgb(0, 0, 0);
}

span {
    color: brown;
    font-size: 40px;
}

.highlight {
    background: yellow;
}

.accent-color {
    background: red;
}
#top-section {

}

#bottom-section {

}

.intro {
    font-size: 30px;
    color: darkkhaki;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif; 
}
/* This is the CSS box model */
/* margin: 
    border:
    padding*/
.box{
    background-image: url(../img/3.jpg);
    width: 3000px 2500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 100px;
    border: 5px solid red;
    padding: 50px 100px 300px 25px; /* top right bottom left */
    text-align: center;
    
}

 .highlight